@media screen and (min-width: 501px) {
/* Para desktop */
    #cabecalho {
        height: 10vh;
        /*background-color: var(--tema);*/
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s ease-in-out;
    }

    .container {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .container img {
        width: 44px;
        height: auto;
    }

    .container_img{
        padding: 1em;
    }




    .container-menu {
        display: block;
        position: relative;
        top: 0px;
        left:0px;

        z-index: 3;

        -webkit-user-select: none;
        user-select: none;
    }


    .container-menu a {
        text-decoration: none;
        color: black;
        transition: color 0.3 ease;
    }

    .container-menu a:hover {
        color:darkgreen;
    }



    
    #checkbox-menu {
        position: absolute;
        opacity: 0;
        display: block;
        width: 44px;
        height: 43px;
        z-index: 4;

        -webkit-touch-callout: none;
    }
    

    label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 44px;
        width: 44px;
    }

    label span {
        position:absolute;
        display: block;
        height: 6px;
        width: 100%;
        border-radius: 40px;
        background-color: white;
        transition: 0.50s ease-in-out;
        z-index: 2000;
    }

    label span:nth-child(1){
        top: 0;
    }
    label span:nth-child(2){
        top: 16px;
    }
    label span:nth-child(3){
        top: 32px;
    }

    #checkbox-menu:checked + label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 15px;
    }
    
    #checkbox-menu:checked + label span:nth-child(2) {
        opacity: 0;

    }
    
    #checkbox-menu:checked + label span:nth-child(3) {
        transform: rotate(45deg);
        top: 15px;
    }

    #menu {
        position: absolute;
        top: -10px;
        left: 500px;
        width: 350px;
        height: 350px;
        margin: 0 0 0 60px;
        padding: 50px;
        padding-top: 125px;
        background-color: white;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        border-radius: 20px;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li {
        padding: 10px 0 ;
        font-size: 1.3em;
    }

    .container-menu input:checked ~ ul
{
  transform: none;
}


}



@media screen and (max-width: 500px) {
    /* Para mobile */
        #cabecalho {
        height: 10vh;
        /*background-color: var(--tema);*/
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s all ;
    }

    .container {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .container_img{
        padding:1em;
        width: 10;
        height: auto;

    }

    #envelope {
        display: none;
    }

    .container img {
        width: 44px;
        height: auto;
    }

    #checkbox-menu {
        position: absolute;
        opacity: 1;
    }

    label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 44px;
        width: 44px;
    }

    label span {
        position:absolute;
        display: block;
        height: 6px;
        width: 100%;
        border-radius: 40px;
        background-color: white;
        transition: 0.50s ease-in-out;
        z-index: 2000;
    }

    label span:nth-child(1){
        top: 0;
    }
    label span:nth-child(2){
        top: 16px;
    }
    label span:nth-child(3){
        top: 32px;
    }

    #checkbox-menu:checked + label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 15px;
    }
    
    #checkbox-menu:checked + label span:nth-child(2) {
        opacity: 0;

    }
    
    #checkbox-menu:checked + label span:nth-child(3) {
        transform: rotate(45deg);
        top: 15px;
    }

    


}
