@media screen and (min-width: 501px) {
/* Para desktop */
    #cabecalho {
        height: 10vh;
        /*background-color: var(--tema);*/
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s all ;
    }

    .container {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .container img {
        width: 44px;
        height: auto;
    }

    .container_img{
        padding: 1em;
    }
}



@media screen and (max-width: 500px) {
    /* Para mobile */
        #cabecalho {
        height: 10vh;
        /*background-color: var(--tema);*/
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s all ;
    }

    .container {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .container_img{
        padding:1em;
        width: 10;
        height: auto;

    }

    #envelope {
        display: none;
    }

    .container img {
        width: 44px;
        height: auto;
    }

}
