@media screen and (min-width: 1720px) {
/* Para desktop */
    #cabecalho {
        height: 10vh;
        background-color: var(--tema);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .container {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .container_img{
        padding: 1em;
    }
}



@media screen and (max-width: 500px) {
    /* Para mobile */
    #cabecalho {
        height: 10vh;
        background-color: var(--tema);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .container {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .container_img{
        padding:1em;
        width: 10;
        height: auto;

    }

    #envelope {
        display: none;
    }

}
