
/* Para desktop */
    #sec04 {
        height: 110vh;
        width: 100%;
        background-color:var(--tema); 
        display: flex;
        justify-content: center;
        
    }


@media screen and (max-width: 501px) {
    /* Para mobile */
    #sec04 {
        height: 100vh;
        width: 100%;
        background-color:var(--tema); 
        display: flex;
        justify-content: center;
    }


}