

    #sec02 {
        background-color: white;
        width: 100%;
        height: 200vh;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        
    }

    #objetivos {
        margin: auto;
        width: 100%;
    }

    #sec02 h1{
        color: var(--cor-segundaria);
        text-align: center;
        font-weight: bold;
        font-size: 3em;
        margin-bottom: 5%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
    }

    .itens {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 0.8em;
        font-weight: bold;
        color: var(--cor-segundaria);
    }

    .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: var(--cor-principal);
        padding: 2%;
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }


    .item img {
        height: auto;
        width: 200px;
    }

    #importancia {
        background-color: var(--cor-terciaria);
        height: 50%;
    }

    #importancia h1 {
        color: var(--tema);
        margin: 5% 0 ;
        padding: 1%;

    }
    
    #importancia .item {
        background-color: var(--tema);
    }









@media screen and (max-width: 500px) {
    #sec02 {
        background-color: white;
        width: 100%;
        height: 110vh;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    #objetivos {
        margin: auto;
        width: 100%;
        overflow: hidden;
    }

    #sec02 h1{
        color: rgb(73, 97, 76);
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        padding: 2%;
        margin: 2% 0;
        flex-direction: column;
    }

    .itens {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 0.6em;
        font-weight: bold;
        flex-direction: column;
        align-items: center;
        margin-bottom:4em ;
    }

    .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: var(--cor-principal);
        margin: 1%;
        width: 260px;
        height: 260px;
        border-radius: 50%;
    }


    .item img {
        height: auto;
        width: 100px;
    }


}

