
@media screen and (min-width: 501px){
/* Para desktop */
    @keyframes background_move {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


    #sec03 {
        background-color:rgb(205, 228, 206) ;
        width: 100%;
        height: 100vh;
        /*background: linear-gradient(45deg, #000000, #4B3300, #8B5E00, #000000);*/
        /*background-size: 400% 400%;*/
        /*animation:background_move 20s ease infinite;*/

        color: white;
        font-family: Arial, sans-serif;
        font-size: 2em;
    }


    .barra-progresso {
        padding: 30px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction:row;
    }

    .btn {
        color: white;
        width: 190px;
        height: 54px;
        background:transparent;
        border: 4px solid white;
        border-radius: 20px;
        box-shadow: 0px 2px 0px rgb(100, 100, 100);
        font-size: 1em;
        transition: 1s;

    }


    .btn:hover {
        cursor:pointer;
        border: 4px solid rgb(105, 206, 155);
        color: rgb(105, 206, 155);
    }

    .progresso-div {
        display: flex;
        justify-content: space-around;
        width: 60%;
        align-items: center;
    }


    .progresso-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .progresso-container::after {
        content: "";
        position: absolute;
        height: 6px;
        width: 50%;
        background-color: var(--tema);
        z-index: 0;

    }

    .etapa-img {
        width: 25px;
        height: 25px;
        transition: 1s all;
    }




    .progresso {
        position:absolute;
        left: 25%;
        height:6px;
        width: 0%;
        background-color: #E8F360;
        z-index: 1;
        transition: 1s all;
    }

    .etapa-progresso {
        width:50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tema);
        border: 3px solid var(--tema);
        border-radius: 50%;
        z-index: 2;
        transition: 1s;
    }


    .etapa-progresso.ativo{
        border: 3px solid #E8F360;

    }

    .btn.desabilitado {
        cursor: not-allowed;
        /*background-color: gray;*/
        border: 3px solid gray;
        color: var(--tema);

    }



    .tela {
        position: relative;
        top: 10%;
        margin: 0 auto;
        height: 60vh;
        width: 50%;
        color: black;
    }

    iframe {
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    /* Para mobile */
    @keyframes background_move {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


    #sec03 {
        background: linear-gradient(45deg, #E8F360 , #3E6228, #E8F360);
        width: 100%;
        height: 100vh;
        /*background: linear-gradient(45deg, #000000, #4B3300, #8B5E00, #000000);*/
        background-size: 400% 400%;
        animation:background_move 10s ease infinite;

        color: white;
        font-family: Arial, sans-serif;
        font-size: 1em;
    }


    .barra-progresso {
        width: 100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction:row;
        padding-top: 20px;
    }

    .btn {
        color: white;
        width: 50px;
        height: 54px;
        background:transparent;
        border: 4px solid white;
        border-radius: 20px;
        box-shadow: 0px 2px 0px rgb(100, 100, 100);
        font-size: 1em;
        transition: 1s;

    }


    .btn:hover {
        cursor:pointer;
        border: 4px solid greenyellow;
        color:greenyellow;
    }

    .progresso-div {
        display: flex;
        justify-content: space-around;
        width: 90%;
        align-items: center;
    }


    .progresso-container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .progresso-container::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 50%;
        background-color: var(--tema);
        z-index: 0;

    }

    .etapa-img {
        width: 20px;
        height: 20px;
        transition: 1s all;
    }




    .progresso {
        position:absolute;
        left: 26%;
        height:3px;
        width: 0%;
        background-color: #E8F360;
        z-index: 1;
        transition: 1s all;
    }

    .etapa-progresso {
        width:35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tema);
        border: 3px solid var(--tema);
        border-radius: 50%;
        z-index: 2;
        transition: 1s;
    }


    .etapa-progresso.ativo{
        border: 3px solid #E8F360;

    }

    .btn.desabilitado {
        cursor: not-allowed;
        /*background-color: gray;*/
        border: 3px solid gray;
        color: var(--tema);

    }



    .tela {
        position: relative;
        top: 5%;
        margin: 0 auto;
        height: 70%;
        width: 90%;
        color: black;
    }

    iframe {
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

}
