/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');


/* Arquivos css*/
@import url('header.css');
@import url('sec01.css');
@import url('sec02.css');
@import url('sec03.css');
@import url('sec04.css');
@import url('footer.css');

:root {
    --estrela:#fff;
    --cor_da_fonte: #ffffff;    
    --tema:#ffffff;
    --cor-principal: #c9fad7;
    --cor-segundaria: #7b9e3b;
    --cor-terciaria:  #93cfa7;
    --cor-quartiaria: #66c46e;
}

html {
    scroll-behavior: smooth;
}


body {
    width: 100%;
    background-repeat: no-repeat;
    color: var(--cor_da_fonte);
    background-color: var(--tema);

    /*font-family: 'Montserrat1', sans-serif;*/

    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    overflow-x: hidden;
    
}


